
body {
    background: #f5dab5;
    color: #f6f4f3;
    font-family: 'Helvetica', serif;
    font-size: 20px;
    font-weight: lighter;
  }
  h1, h2, h3 {
    font-family: 'Arial', sans-serif;
  }
  h1 {
    color: #070007;
    font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    font-size: 32px;
    font-weight: 900;
  }
  h2 {
    color: #53908c;
    font-family: Impact ;
    font-size: 25px;
    font-weight: lighter;
    font-weight: 700;
  }
  a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #6B72E1;
    font-weight: 600;
    font-size: 16px;
  }
  a:hover {
    color: #57422f
  }
  
  
  
  .container {
    width: 700px;
    margin: 40px auto;
  }
  
  @media (max-width: 960px) {
   
    .container {
      width: 700px;
    }
  }
  @media (max-width: 720px) {
   
    .container {
      width: 500px;
    }
  }
  @media (max-width: 540px) {
   
    .container {
      width: 300px;
    }
  }
  
  
  .card-white {
    background-color: #b49c7b;
    padding: 40px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    border-radius: 4px;
    margin: 20px 0px;
    text-align: center;
  }
  .img-circle {
    border-radius: 50%;
  }
  .btn-blue {
    background-color: #71A2B6;
    color: white;
    padding: 15px 20px;
    border-radius: 4px;
  }
  .btn-blue:hover {
    background-color: #26d0c7;
    color: white;
  }
  .list-inline {
    list-style: none;
    padding-left: 0px;
  }
  
  .list-inline li {
    display: inline;
    padding: 10px;
  }
  .list-inline i {
    font-size: 50px;
    color: rgb(251, 249, 249);
  }
  .list-inline i:hover {
    color: #26d0c7;
  }
  
  #introduction p {
    margin-bottom: 40px;
  }
  
